* {
  border: 1px solid red !important;
}


.squares {
  height: 100px;
  width: 100px;
}

.container {
  height: 500px;
  width: 500px;
  background: gray;
}

#square1 {
  background: red;
  height: 200px;
  /*left: 0;*/
  float: left;
  /*display: inline-block;*/

}

#square2 {
  background: blue;
  width: 200px;
  /*clear: left;*/
  /*float: left;*/
  /*display: inline-block;*/

}

#square3 {
  background: green;

}

#square4 {
  background: black;

}

